<%- include("partials/header") -%>
<h1><%= post.title %></h1>
<p><%= post.content %></p>

<form action="/delete" method="post">
  <button class="btn btn-primary" type="submit" name="delete" value="<%=post._id%>">Delete</button>
</form>

<%- include("partials/footer") -%>
